<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>My</string>
	<key>uuid</key>
	<string>998C130E-9176-458A-A56E-9CC15B415105</string>
</dict>
</plist>
